@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend",sans-serif;
    background-color: #0f0f0f;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

h1,h2,h3,h4,p,span {
    user-select: none;
}