.courses__title {
    color: #D9D9D9;
    font-size: 36px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
}

.courses__content {
    display: flex;
    gap: 50px;
    margin-bottom: 200px;
}

.search-container {
    position: relative;
    width: 250px;
}

.search-input {
    width: 100%;
    padding: 8px 40px 8px 40px;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #a3a3a3;
}

.search-input:focus {
    border-color: #333;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #999;
    font-size: 20px;
    pointer-events: none;
}

.courses__list {
    display: flex;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.courses__item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: calc((100% - 2 * 25px) / 3);
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    justify-content: space-between;
    min-height: 250px;
    overflow: hidden;
    cursor: pointer;
    transition: .2s;
}

.courses__item:hover {
    transform: scale(1.02);
    transition: .2s;
}

.courses__item__blur {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px) brightness(0.5);
    z-index: 0;
}

.courses__item__type,
.courses__item__title,
.courses__item__descr {
    position: relative;
    z-index: 1;
}

.courses__item__type {
    font-size: 12px;
}

.courses__item__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.courses__item__descr {
    font-size: 14px;
}