.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.footer__logo__text {
    display: flex;
    gap: 10px;
    font-weight: bold;
    align-items: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer__logo__text:hover {
    transition: .2s;
    color: #01866c;
}

.footer__logo {
    height: 40px;
}

.footer__left__title {
    color: #8f8d8d;
    font-weight: 300;
    margin-bottom: 5px;
}

.footer__left__list {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.footer__left__link {
    color: #fff;
    font-weight: 300;
    transition: .2s;
    font-size: 14px;
}

.footer__left__link:hover {
    color: #01866c;
}

.footer__copyright {
    color: #8f8d8d;
    font-weight: 300;
}

.footer__right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__right__top,
.footer__right__bottom {
    display: flex;
    gap: 90px;
}

.footer__right__link {
    color: #fff;
    font-weight: 400;
}

.footer__right__link:hover {
    color: #01866c;
}

.footer__right__title {
    color: #8f8d8d;
    font-weight: 300;
    margin-bottom: 5px;
}