.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__logo__text {
    display: flex;
    gap: 10px;
    font-weight: bold;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.header__logo__text:hover {
    transition: .2s;
    color: #01866c;
}

.header__link {
    align-items: center;
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 600;
}

.header__link:hover {
    transition: .2s;
    color: #07a183;
}

.header__logo {
    height: 40px;
}