.course-content {
    display: flex;
    gap: 80px;
    align-items: start;
    margin-bottom: 200px;
}

.course-content__left__title {
    color: #d3d1d1;
    font-size: 30px;
    font-weight: 700;
    width: 300px;
}

.course-content__left__descr {
    color: #d3d1d1;
    max-width: 300px;
}

.course-content__right {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}